@media (max-width: 599px){ 
       /*== ESTILIZACAO DO NAVBAR ======= =====  ==*/
    .header{
        overflow-y: auto;
        overflow-x: hidden;
    }
    section nav{
        padding-top: 0;
        display: grid;
        grid-template-columns: 2fr 0fr 3fr;
        align-items: center;
    }
    section nav ul{
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        z-index: 10000;
        margin: 0;
    }
    section nav ul span{
        display: block;
    }

    #toggle-button-open{
        display: block;
        position: absolute;
        top: 4%;
        right: 8%;
        text-align: center;
        border: none;
        background: transparent;
    }
    #toggle-button-close{
        display: none;
        text-align: center;
        display: block;
        border: none;
        background: transparent;
        margin-right: 12%;
    }
    #toggle-button-open img{
        width: 30px;
    }
    #toggle-button-close img{
        width: 30px;
    }
    .container-toggle{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 10%;
        margin-bottom: 30%;
    }
    .nmr-nav-text{
        font-weight: bold;
        padding-right: 0.5rem;
    }
    .item-link{
        padding-top:0%;
        margin-right: -550px; /* PROPRIEDADE PARA ENTRADA DO MENU*/
        transition: all 0.2s;
        background-color:  rgba(247, 239, 239, 0.034);
        backdrop-filter: blur(30px) contrast(110%);
        -webkit-backdrop-filter: blur(30px) contrast(110%);
    }
    section nav ul label{
        display: flex;
        align-items: left;
        padding: 0em 0;
        color: #fff;
        font-weight: 200;
        font-size: 16px;
    }
    nav ul .item-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        padding: 1.5rem 0;
        z-index: 1000;
    }
    section nav ul{
        display: flex; /* CLASSE QUE HABILITA PARA MENU MOBILE*/
        justify-content: flex-start;
        padding: 0rem;
        background-color: #1313132f;
    }
    
    .item-logo{ /* ESPACAMENTO NA LOGO*/
        margin-top: 5%;
        margin-left: 2em;
        margin-bottom: 1em;
    }
    .item-logo img{
        margin-top: 10%;
        width: 45px;
    }
    .item-space{
        display: none;
        z-index: 0;
    }
    
    .container-label{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    .container-border1{ /* adicionei essa classe para poder tentar controlar a aba por aqui*/
        height: 100%;
        width: 4px;
        background-color: transparent;
    }
    .container-border2{ /* adicionei essa classe para poder tentar controlar a aba por aqui*/
        height: 100%;
        width: 4px;
        background-color: transparent;
    }
    .container-border3{ /* adicionei essa classe para poder tentar controlar a aba por aqui*/
        height: 100%;
        width: 4px;
        background-color: transparent;
    }
    .container-border4{ /* adicionei essa classe para poder tentar controlar a aba por aqui*/
        height: 100%;
        width: 4px;
        background-color: transparent;
    }
    /*== ESTILIZACAO DA SECTION HOME ======= =====  ==*/
    /*== ESTILIZACAO DA SECTION HOME ======= =====  ==*/
    /*== ESTILIZACAO DA SECTION HOME ======= =====  ==*/

    section .section-home{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-text-home{
        width: 100%;
        display: flex;
        text-align: center;
      }
      section .section-home h3{
        width: 100%;
        color: var(--light-purple);
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1em;
        margin-top: 12%;
        padding-left: 0%;
      }
      section .section-home h1{
        width: 100%;
        font-size: 5em;
        color:var(--white);
        padding-left: 0%;
        font-family: 'Bellefair', sans-serif;
      }
      section .section-home p{
        width: 100%;
        font-weight: 200;
        font-size: 1em;
        line-height: 2rem ;
        padding-left: 0%;
        padding: 0 5%;
        font-family: 'Barlow', sans-serif;
        color: var(--light-purple);
      }

      .container-explore{
        margin: 0;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
    /*== ESTILIZACAO DO BOTAO HOME ======= =====  ==*/
    /*== ESTILIZACAO DO BOTAO HOME ======= =====  ==*/
    /*== ESTILIZACAO DO BOTAO HOME ======= =====  ==*/
    .btn-explore{
       height: 10em;
       width: 10em;
    }
    .btn-explore h2{
        font-weight: 400;
        font-size: 22px;
    }
    .container-explore{
        position: absolute;
        bottom: 3rem;
    }
    .btn-explore:hover{
        -webkit-box-shadow: 0px 0px 0px 28px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 0px 28px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 0px 28px rgba(255, 255, 255, 0.1);
    }

    /*== ESTILIZACAO DA TELA DESTINATION ======= =====  ==*/
    /*== ESTILIZACAO DA TELA DESTINATION ======= =====  ==*/
    /*== ESTILIZACAO DA TELA DESTINATION ======= =====  ==*/

    .section-destination{
        display: flex;
        flex-direction: column;
    }
    .title-destination{
        display: flex;
        justify-content: center;
        width: 100%;
        letter-spacing: 3px;
        font-size: 1.2em;
        margin: 0;
        margin-top: 3%;
        margin-bottom: 7%;
    }
    .container-abas{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-right: 0px;
    }
    
    .container-img-destination{
        height: 40vh;
        width: 75%;
        padding-left:0%;
        padding-top: 10%;
    }
    .title-img-destination{
        padding-left: 0%;
    }
    .container-img-destination img{
        width: 60%;
        padding-bottom: 2rem;
    }
    .container-text-destination .title h1{
        font-size: 5rem;
    }
    .container-item-aba{
        font-weight: 100;
        font-size: 13px;
        margin-right: 0;
    }
    .container-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: -5%;
        margin-left: 0%;
        width: 80%;
    }
    .text-info{
        width: 100%;
        margin-bottom: 10%;
    }

    #descricao-planet{
        width: 100%;
        font-size: 18px;
    }
    .separator{
        width: 100%;
        height: 1px;
        background-color: rgba(208, 214, 249, 0.199);
    }
    .bottom-text{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 3rem;
    }
    .info-bottom-column1{
        margin-top: 5%;
        margin-right: 3rem;
    }
    .info-bottom-column2{
    margin-top: 5%;
    margin-left: 3rem;
    }
    .info-bottom-column1 h5{
    font-size: 12px;
    letter-spacing: 1px;
    }
    .info-bottom-column2 h5{
    font-size: 12px;
    letter-spacing: 1px;
    }

    /*== ESTILIZACAO DA TELA CREW ======= =====  ==*/
    /*== ESTILIZACAO DA TELA CREW ======= =====  ==*/
    /*== ESTILIZACAO DA TELA CREW ======= =====  ==*/  
    #title-crew-span{
        font-weight: 600;
        color: #929292; 
    }
    #title-crew{
        text-align: center;
        letter-spacing: 3px;
        font-size: 1.2em;
        margin-left: 0;
        margin-top: 3%;
    }
    
    /* ======== SLIDER ============= SLIDER =========== */
    .slider {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin: 0px 0;
    }
      
    .slider-container {
        display: flex;
        width: 100%;
        height: 100vh;
    }
    
    .slider-item {
        position: relative;
        flex-direction: column;
        display: none;
        width: 100%;
        height: 100%;
        transition: opacity 1s ease-in-out;
    }
    
    .slider-item.active {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
    }
    
    .slider-text {
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        text-align: center;
        width: 90%;
        color: #fff;
    }
    .slider-text h3 {
        width: 100%;
        font-size: 20px;
        font-family: 'Bellefair', sans-serif;
        color: #8f8f8f;
        margin-bottom
        : 0.5rem;
    }
    
    .slider-text h1 {
        text-transform: uppercase;
        font-family: 'Bellefair';
        font-size: 1.7em; 
        font-weight: 200;
    }
    
    .slider-text p {
        width: 100%;
        font-size: 18px;
        margin-top: 0.8rem;
        font-family: 'Barlow', sans-serif;
        font-weight: 200;
        color: var(--light-purple);
        max-lines: 2;
    }
    
    .slider-image {
        position: absolute;
        transform: translateX(-50%);
        top: 5%;
        height: 35%;
        width: 50%;
    }
    
    .slider-image img {
        height: auto;
        width: 100%;
    }
    
    .slider-dots {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }
    
    .slider-dot {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #6d6d6d;
        margin: 0 8px;
        cursor: pointer;
    }
    .slider-dot:hover{
        background-color: #6e6e6e;
    }
    .slider-dot.active {
        background-color: #fff;
    }
    .line-mobile{
        position: absolute;
        top: 40%;
        height: 1px;
        width: 90%;
        background-color: rgba(208, 214, 249, 0.199);
    }
      
    /* FIM DO SLIDER ====================== */
    /*== ESTILIZACAO DA TELA TECHNOLOGY ======= =====  ==*/ 

    .sliderTech-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 85vh;
    }
      
    .sliderTech-buttons {
        margin-top: 65%;
        display: flex;
        flex-direction: row;
        margin-left:0%;
    }
    
    .sliderTech-button {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 15px 8px;
        font-size: 23px;
    }
    .sliderTech-button:hover{
        border: 1px solid #fff;
    }

    
    .sliderTech-button.active {
        text-align: center;
        background-color: var(--white);
        color: #0B0D17;
    }
    
    .sliderTech-content {
        width: 90%;
    }
    
    .sliderTech-slide {
        display: none;
    }
    
    .sliderTech-slide.active {
        display: flex;
    }
    
    .sliderTech-slide h3 {
        font-size: 17px;
        text-transform: uppercase;
        font-family: 'Barlow Condensed', sans-serif;
        color: var(--light-purple);
        font-weight: 100;
        letter-spacing: 2px;
        margin-bottom: 0.8rem;
        margin-top: 1rem;
    }
    
    .sliderTech-slide h1 {
        text-transform: uppercase;
        font-family: 'Bellefair';
        color: var(--white);
        font-size: 2em; 
        font-weight: 200;
    }
    
    .sliderTech-slide p {
        width: 100%;
        font-size: 18px;
        margin-top: 0.8rem;
        line-height: 1.8rem;
        font-family: 'Barlow', sans-serif;
        font-weight: 200;
        color: var(--light-purple);
    }
    .sliderTech-text-tech{
        width: 100%;
        text-align: center;
        margin-left: 0%;
    }
    
    .sliderTech-image {
        width: 100%;
        margin-left: 0;
    }
    
    .sliderTech-image img {
        position: absolute;
        top: 5%;
        width: 100%;
        max-width: 100%;
        height: 27%;
    }
    
    #title-tech-span{
        font-weight: 600;
        color: #929292; 
    }
    #title-tech{
        text-align: center;
        position: relative;
        letter-spacing: 3px;
        font-size: 1.2em;
        margin-left: 0%;
        margin-top: 3%;
    }
    #image-tech{
    display: none;
    }
    .image-selected{
    display: block;
    }


}

/* ==== ALGUMAS VERIFICACOES MAIS PRECISAS */
/* VERIFICANDO ALTURA DO APARELHO*/
@media (max-height: 714px){
    .slider{
        overflow-y: auto;
    }
    .slider-image{
        top:10%;
    }
    .line-mobile{
        top: 45%;
    }
    .slider-image img{
        width: 90%;
    }
    .slider-dots{
        top: 53%;
    }
    .slider-text{
        top: 83%;
    }
    .slider-text p{
        font-size: 14px;
    }
    .container-explore{
        margin-bottom: 3%;
    }
}